/**
 * Dragdealer.js 0.9.6
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */

.dragdealer {
  position: relative;
  height: 2px;
}
.dragdealer .handle {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.dragdealer .handle {
  position: absolute;

  width:46px;
  left: 0;
  cursor: pointer;
}

.dragdealer .disabled {
  background: #898989;
}

#scrubWrapper {
  width:360px;
  float:left;
  position: relative;
  top:56px;
}

#bb-scrubber {
  background-color: white;
}

#bb-video-controls-left,
#bb-video-controls-right {
  width:50%;
}