* {
    outline: none;
    /*border:1px solid red;*/
}

body, input, button{
	margin: 0;
	padding: 0;
}

#bb-video-container video {
	position: absolute;
	top: 0;
	left: 0;

	width: auto;
	height: 100%;
	padding: 0;
}
#bb-video-container  {

	position: absolute;
	height:100%;
	width:100%;
}

#bb-video-controls {
	height:auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

video {
	image-fit: fill;
}


button {
	background: rgba(0,0,0,.0); /*needed for svg image transparency*/
	border: 0;
	color: #EEE;

}

button:hover {
	cursor: pointer;
}

button img {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.playerButton {
	height: 112px;
	width: 47px;
	float: left;
}

#seek-bar {
	width: 360px;
	height: 2px;
}

#volume-bar {
	width: 60px;
}

#bb-previousVideo img {
	behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(180deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(180deg);
    /* Opera */
    -o-transform:rotate(180deg);
    /* IE9 */
    -ms-transform:rotate(180deg);
}

/*
#bb-scrub-bg{
	width:360px;
	height: 2px;
	float: left;
	position: relative;
	top: 56px;
	padding: 0 0 0 23px;

}
#bb-scrubber {
    position: relative;
    background-color: white;
    width: 360px;
    height: 2px;
    left:-23px;
}

#bb-progress {
    width: 0;
    height: 2px;
}*/

#bb-scrub-click{
	display: block;
	float: left;
	height: 112px;
	width: 360px;
	position: relative;
	left: 23px;
	border: 1px solid magenta;
}

#bb-scrub-head{
	width:46px;
	top: -23px;

	position: relative;
	float:right;
}

#bb-video-nav{
	display: block;
	float:left;
	border:1px solid red;
}

#bb-video-info {
	width: 250px;
	color: white;
	float: left;
	position: relative;
	top: 47px;

	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

#bb-video-info #bb-video-client {
	width:50%;
	float: left;
}
#bb-video-info #bb-video-title {
	float: left;
}


#bb-thumbnails {
	margin: 0 30px 0 50px;
}
#bb-mute {
	margin: 0 20px 0 40px;
}
#bb-mute img {
	width:30px;
}



